
* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;  
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background: linear-gradient(45deg, #164a41, #4d774e, #9dc88d) fixed; */
    background: #ffffff;
    color: #2565ae;
}

body {
    display: flex;
}

ul {
    list-style-position: inside;
    text-align: center;
    line-height: 25px;
   
}

ul li {
    font-size: 14px;
    list-style-type: circle;
    display: list-item;
 }

 /* Container for all the divs on the right hand side */
.color_change {
    border: 1px solid red;
    width: 75%;
    position: fixed;
    left: 25%;
}

/* Aligns the bottom two divs on the right hand side horizontally */
.horizontal_div {
    display: flex;
}

.intro_para p {
    margin: 2% 5%;
    color: #26abff;
    font-size: 18px;
}

.bulletin {
    border: 1px solid rgba(37, 101, 174, 0.6);
    width: 50%;
}

.website_links {
    width: 50%;
    border: 1px solid rgba(37, 101, 174, 0.6);
}


/* Navbar header */
.navbar {
    height: 70px;
    padding-top: 5px;
    margin-bottom: 35px;
      
}

#navbar_h1 {
    font-size: 45px;
    font-weight: bolder;
}

#navbar_h2 {
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
}

/* Main body */
.color_pallete {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
    border-right: 3px solid #2565ae;
    width: 25%;
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.color_pallete * {
    font-family: 'Dynapuff', sans-serif;
    font-weight: 200;
}

.color_group {
    padding: 10px;
    padding: 0 25px;
    border: 2px solid #2565ae;
    box-shadow: 1px 1px 1px 0.5px rgba(37, 101, 174, 0.6);
    width: 100%;
    cursor: pointer;   
}

.color_group:hover {
    transform: scale(1.05);
}

.dot {
    height: 45px;
    width: 45px;
    margin: 5% -38px 0;
    position: relative;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    display: inline-block;
    transition: all .3s;
  }

/* Background colours of each box */
#electric_blue, #electric_blue_h2 {
    background: #0492c2;
    color: #ffe4c4;
}
  
#hot_orange, #hot_orange_h2 {
    background-color: #ff6422;
    color: #1c1c1c;
}

#muted_green, #muted_green_h2 {
    background-color: #b2d3c2;
}

#lemon_lime, #lemon_lime_h2 {
    background-color: #aef359;
    color: #051094;
}

#jewel_tones, #jewel_tones_h2 {
    background-color: #601a35;
    color: #fa8128;
}

/* Colours of each circle */

/* Circles for electric blue */
#circle1 {
    background-color: #2a2a2a;
}

#circle2 {
    
    background-color: #ceb92c;
}

#circle3 {
    background-color: #fee36e;
}

#circle4 {
    background-color: #f16775;
}

#circle5 {
    background-color: #373e98;
}

/* Circles for hot orange */
#circle6 {
    background-color: #141414;
}

#circle7 {
    background-color: #9e9e9e;
}

#circle8 {
    background-color: #565656;
}

#circle9 {
    background-color: #fba92c;
}

#circle10 {
    background-color: #ffffff
}
/* Circles for lemon lime */
#circle11 {
    background-color: #c8b7a6;
}

#circle12 {
    background-color: #7d94b5;
}

#circle13 {
    background-color: #c29591;
}

#circle14 {
    background-color: #703f37;
}

#circle15 {
    background-color: #b6c199;
}
/* Circles for muted green */
#circle16 {
    background-color: #abd699;
}

#circle17 {
 background-color: #ffe26a;
}

#circle18 {
    background-color: #75c9b7;
}

#circle19 {
    background-color: #c7ddcc;
}

#circle20 {
    background-color: #16123f;
}

/* Circles for jewel tones */
#circle21 {
 background-color: #A96762;
}

#circle22 {
    background-color: #2F5C8F;
}

#circle23 {
    background-color: #d85c27;
}

#circle24 {
    background-color: #b999be;
}

#circle25 {
    background-color: #14365d;
}